<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>健康上报管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesdesign" name="author">
    <div th:include="admin-index::admin-head"></div>

    <script type="text/javascript" th:src="@{/static/vue/vue.js}"></script>
    <script type="text/javascript" th:src="@{/static/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
    <script src="http://cdn.staticfile.org/moment.js/2.24.0/moment-with-locales.js"></script>
</head>
<style>

    html, body {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .tablebtn {
        outline: none;
        border: none;
        color: white;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 3px 10px;
    }

    .normal {
        background: #0f9cf3;
    }

    .normal:hover {
        background: #0b7fc2;
    }

    .warning {
        background: #ff0000;
    }

    .warning:hover {
        background: #ad0000;
    }
    .success{
        background: darkgreen;
    }
    .nosuccess{
        background: lightgrey;
    }
    .nosuccess:hover{
        background: grey;
    }

    .dialog {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        /*width: 60%;*/
        box-sizing: border-box;
        padding: 30px 50px;
        background: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        transition: all 0.3s ease-in-out;
    }

    .dialog-top {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
    }

    .dialog input {
        border: none;
        outline: none;
        border-bottom: 1px solid darkgray;
        box-sizing: border-box;
        padding: 2px 5px;
        transition: all 0.3s ease-in-out;
    }

    .dialog input:focus {
        border-bottom: 1px solid black;
    }

    .mengban {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(1, 1, 1, 0.2);
        z-index: 99;
        transition: all 0.3s ease-in-out;
    }

    .dialog-control {
        width: 100%;
        box-sizing: border-box;
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .table-control{
        box-sizing: border-box;
        padding: 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .table-control button{
        margin: 0 10px;
    }

</style>
<body data-topbar="dark">

<div id="layout-wrapper">

    <div th:replace="admin-index::admin-header"></div>

    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="admin-index::admin-menu"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- Begin page -->
    <div class="main-content" id="app">

        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">用户出入申请信息一览</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">用户出入申请信息详情</h4>
                                <p class="card-title-desc"></p>
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <select class="form-control" id="select_name"
                                                        v-model="selectType">
                                                    <option value="healthName">姓名</option>
                                                    <option value="healthStatus">健康状态</option>
                                                    <option value="healthAdree">地址</option>
                                                </select>
                                            </div>
                                            <input type="text" class="form-control" v-model="searchValue"
                                                   placeholder="Search for...">
                                            <button class="btn btn-primary" @click="search">搜索</button>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <table id="resident_table"
                                           class="table table-bordered table-nowrap mb-0 table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="text-center .col-md-">序号</th>
                                            <th scope="col" class="text-center .col-md-">
                                                姓名
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                上报时间
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                温度(℃)
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                健康状况
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                家人健康状况
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                有无接触情况
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                电话
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                地址
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                备注
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(item,index) in healthList1" :key="item.healthIds">
                                            <td>{{index+1}}</td>
                                            <td>{{item.healthName}}</td>
                                            <td>{{item.healthId}}</td>
                                            <td>{{item.healthTemperature}}℃</td>
                                            <td>{{item.healthStatus}}</td>
                                            <td>{{item.healthOtherstatus}}</td>
                                            <td :style="{color:item.healthIstouch == 0 ? 'green' : 'red'}">{{item.healthIstouch == 0 ? "无" : "有"}}</td>
                                            <td>{{item.healthPhone}}</td>
                                            <td>{{item.healthAdree}}</td>
                                            <td>{{item.healthDetails}}</td>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="table-control">
                                    <div style="color: darkgray">
                                        共 {{dataMessage.pages}} 页
                                    </div>
                                    <div>
                                        <button class="tablebtn normal" @click="handleShift(2)" >首页</button>
                                        <button class="tablebtn normal" @click="handleShift(0)" :disabled="dataMessage.page -1 == 0 ? true : false">上一页</button>
                                        <button style="outline: none;border: none;color: black" disabled="disabled">{{dataMessage.page}}</button>
                                        <button class="tablebtn normal" @click="handleShift(1)" :disabled="dataMessage.page + 1 > dataMessage.pages ? true : false">下一页</button>
                                        <button class="tablebtn normal" @click="handleShift(3)" >尾页</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end col -->

                </div> <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->



        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2022.Company name All rights reserved.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>


    <!-- 接收数据-->
    <script>
        //使用vue axios请求数据然后进行页面渲染
        var app = new Vue({
            el: "#app",
            data: {
                healthList: [],
                healthList1:[],
                totalPage: 0,
                selectType: "healthName",
                searchValue: "",
                userInfo: {
                    healthId: null,
                    healthIds:"",
                    healthName:"",
                    healthTemperature:null,
                    healthStatus:"",
                    healthOtherstatus:"",
                    healthIstouch:null,
                    healthPhone:null,
                    healthAdree:"",
                    healthDetails:"",
                    healthMatter:""
                },
                //查询数据信息
                dataMessage: {
                    page: 1,
                    row: 5,
                    pages: 0
                }
            },
            mounted() {
                this.getHealthList();
            },
            methods: {
                //时间十进制
                shijinzhi(date) {
                    date = date >= 10 ? date : '0' + date; //判断传进来的参数是否小于十，小于则拼接一个0在前面
                    return date;
                },
                //年月日
                ymd(sjc) {
                    var date_ = new Date(sjc);
                    var year_ = date_.getFullYear(); //获取年份
                    var month_ = this.shijinzhi(date_.getMonth() + 1); //获取月份
                    var date = date_.getDate(); //获取日期
                    return year_ + '/' + month_ + '/' + date;
                },
                //时分秒
                hms(sjc) {
                    var date_ = new Date(sjc);
                    var hours_ = date_.getHours();
                    var min_ = this.shijinzhi(date_.getMinutes());
                    var ms = this.shijinzhi(date_.getSeconds());
                    var mm = '';
                    if (hours_ > 12) {
                        hours_ = this.shijinzhi(this.pm(hours_));
                        mm = 'PM';
                    } else {
                        hours_ = this.shijinzhi(hours_);
                        mm = 'AM';
                    }
                    return mm + ' ' + hours_ + ':' + min_ + ':' + ms;
                },
                //下午
                pm(num1) {
                    var arr = []; //声明一个数组用来存放下标13
                    var coust = 0;
                    for (var i = 13; i < 24; i++) {
                        coust++;
                        arr[i] = coust;
                    }
                    return num1 = arr[num1];
                },


                //时间转换
                timeChange1(){//毫秒转时间
                    this.userInfo.healthId = moment(this.userInfo.healthId).format('YYYY-MM-DD');
                },
                timeChange2(){//时间转毫秒
                    this.userInfo.healthId = (new Date(this.userInfo.healthId)).getTime();
                },
                getHealthList() {
                    axios.get("find", {
                        params: {
                            type: this.selectType,
                            check: this.searchValue,
                            page: this.dataMessage.page
                        }
                    })
                        .then(res => {
                            this.healthList = res.data.data.list;
                            this.healthList1 = res.data.data.list.map(item=>{
                                return {
                                    healthId: this.ymd(item.healthId),
                                    healthIds:item.healthIds,
                                    healthName:item.healthName,
                                    healthTemperature:item.healthTemperature,
                                    healthStatus:item.healthStatus,
                                    healthOtherstatus:item.healthOtherstatus,
                                    healthIstouch:item.healthIstouch,
                                    healthPhone:item.healthPhone,
                                    healthAdree:item.healthAdree,
                                    healthDetails:item.healthDetails,
                                    healthMatter:item.healthMatter
                                }
                            });
                            this.totalPage = res.data.data.pages;
                            this.dataMessage = {
                                page: res.data.data.pageNum,
                                row: res.data.data.pageSize,
                                pages: res.data.data.pages
                            }
                        })
                        .catch(err => {
                            console.log('错误' + err)
                        })
                },
                //按条件搜索
                search() {
                    this.getHealthList();
                },
                //切换页码
                handleShift(pageMode) {
                    if (pageMode == 0) {
                        this.dataMessage.page--;
                        this.getHealthList();
                    } else if (pageMode == 1) {
                        this.dataMessage.page++;
                        this.getHealthList();
                    } else if (pageMode == 2) {
                        this.dataMessage.page = 1;
                        this.getHealthList();
                    } else if (pageMode == 3) {
                        this.dataMessage.page = this.dataMessage.pages;
                        this.getHealthList();
                    }
                }
            }
        })
    </script>

    <!-- END layout-wrapper -->
    <!-- ============================================================== -->
    <!-- end main content-->

</div>
<div th:replace="admin-index::admin-foot"></div>
</body>
</html>
