<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>消杀管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesdesign" name="author">
    <div th:include="admin-index::admin-head"></div>

    <script type="text/javascript" th:src="@{/static/vue/vue.js}"></script>
    <script type="text/javascript" th:src="@{/static/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
    <script src="http://cdn.staticfile.org/moment.js/2.24.0/moment-with-locales.js"></script>
</head>
<style>

    html, body {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .tablebtn {
        outline: none;
        border: none;
        color: white;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 3px 10px;
    }

    .normal {
        background: #0f9cf3;
    }

    .normal:hover {
        background: #0b7fc2;
    }

    .warning {
        background: #ff0000;
    }

    .warning:hover {
        background: #ad0000;
    }

    .dialog {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        /*width: 60%;*/
        box-sizing: border-box;
        padding: 30px 50px;
        background: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        transition: all 0.3s ease-in-out;
    }

    .dialog-top {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
    }

    .dialog input {
        border: none;
        outline: none;
        border-bottom: 1px solid darkgray;
        box-sizing: border-box;
        padding: 2px 5px;
        transition: all 0.3s ease-in-out;
    }

    .dialog input:focus {
        border-bottom: 1px solid black;
    }

    .mengban {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(1, 1, 1, 0.2);
        z-index: 99;
        transition: all 0.3s ease-in-out;
    }

    .dialog-control {
        width: 100%;
        box-sizing: border-box;
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .table-control{
        box-sizing: border-box;
        padding: 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .table-control button{
        margin: 0 10px;
    }

</style>
<body data-topbar="dark">

<div id="layout-wrapper">

    <div th:replace="admin-index::admin-header"></div>

    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="admin-index::admin-menu"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- Begin page -->
    <div class="main-content" id="app">

        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">小区消杀信息一览</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">小区消杀信息详情</h4>
                                <p class="card-title-desc"></p>
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <select class="form-control" id="select_name"
                                                        v-model="selectType">
                                                    <option value="community">消杀小区</option>
                                                    <option value="floor">消杀区域</option>
                                                    <option value="disinfectTime">消杀时间</option>
                                                    <option value="disinfectStaff">消杀人员</option>
                                                </select>
                                            </div>
                                            <input type="text" class="form-control" v-model="searchValue"
                                                   placeholder="Search for...">
                                            <button class="btn btn-primary" @click="search">搜索</button>
                                            <button class="btn btn-danger" style="margin-left: 20px"
                                                    @click="handleDialog(1)">添加
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <table id="resident_table"
                                           class="table table-bordered table-nowrap mb-0 table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="text-center .col-md-">序号</th>
                                            <th scope="col" class="text-center .col-md-">
                                                消杀小区
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                消杀区域
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                消杀时间
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                是否消杀
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                消杀人员
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                消杀方式
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                操作
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(item,index) in dishinfectingList1" :key="item.id">
                                            <td>{{index+1}}</td>
                                            <td>{{item.community}}</td>
                                            <td>{{item.floor}}</td>
                                            <td>{{item.disinfectTime}}</td>
                                            <td>{{item.disinfectResult == 0 ? "未消杀" : "已消杀"}}</td>
                                            <td>{{item.disinfectStaff}}</td>
                                            <td>{{item.disinfectWay}}</td>
                                            <td>
                                                <button class="tablebtn normal"
                                                        @click="handleDialog(0,index)">编辑
                                                </button>
                                                <button class="tablebtn warning"
                                                        @click="handleDelete(index)">删除
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="table-control">
                                    <div style="color: darkgray">
                                        共 {{dataMessage.pages}} 页
                                    </div>
                                    <div>
                                        <button class="tablebtn normal" @click="handleShift(2)" >首页</button>
                                        <button class="tablebtn normal" @click="handleShift(0)" :disabled="dataMessage.page -1 == 0 ? true : false">上一页</button>
                                        <button style="outline: none;border: none;color: black" disabled="disabled">{{dataMessage.page}}</button>
                                        <button class="tablebtn normal" @click="handleShift(1)" :disabled="dataMessage.page + 1 > dataMessage.pages ? true : false">下一页</button>
                                        <button class="tablebtn normal" @click="handleShift(3)" >尾页</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end col -->

                </div> <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <!--        对话框-->
        <!--        阴影蒙版-->
        <div class="mengban" v-show="mengbanFlag" @click="handleCloseDialog"></div>
        <div class="dialog" v-show="dialogFlag">
            <div class="dialog-top">
                {{dialogTag}}
            </div>
            <div class="dialog-content">
                <table>
                    <tr>
                        <td>消杀小区</td>
                        <td>
                            <input type="text" placeholder="消杀小区" v-model="userInfo.community"><br>

                        </td>
                    </tr>
                    <tr>
                        <td>消杀区域</td>
                        <td>
                            <input type="text" placeholder="消杀区域" v-model="userInfo.floor">
                        </td>
                    </tr>
                    <tr>
                        <td>消杀时刻</td>
                        <td>
                            <input v-show="!mode" disabled type="text" v-model="userInfo.disinfectTime" ><br>
                            <input type="date" v-model="userInfo.disinfectTime" >
                        </td>
                    </tr>
                    <tr>
                        <td>是否消杀</td>
                        <td>
                            <input type="radio" name="isFLag" value="0" v-model="userInfo.disinfectResult" > 未消杀
                            <input type="radio" name="isFlag" value="1" v-model="userInfo.disinfectResult"> 已消杀
                        </td>
                    </tr>
                    <tr>
                        <td>消杀人员</td>
                        <td>
                            <input type="text" v-model="userInfo.disinfectStaff" placeholder="消杀人员">
                        </td>
                    </tr>
                    <tr>
                        <td>消杀方式</td>
                        <td>
                            <input type="text" v-model="userInfo.disinfectWay" placeholder="消杀方式">
                        </td>
                    </tr>
                </table>
                <div class="dialog-control">
                    <button class="tablebtn normal" style="padding: 5px 20px" @click="handleEnterEdit">确 定
                    </button>
                    <button class="tablebtn warning" style="padding: 5px 20px" @click="handleCloseDialog">取 消
                    </button>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2022.Company name All rights reserved.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>


    <!-- 接收数据-->
    <script>
        //使用vue axios请求数据然后进行页面渲染
        var app = new Vue({
            el: "#app",
            data: {
                dishinfectingList: [],
                dishinfectingList1:[],
                totalPage: 0,
                selectType: "community",
                searchValue: "",
                dialogTag: "修改信息",
                mode: 0,
                userInfo: {
                    id: 0,
                    community:"",
                    floor:"",
                    disinfectTime:null,
                    disinfectResult:null,
                    disinfectStaff:"",
                    disinfectWay:""
                },
                dialogFlag: false,   //对话框状态
                mengbanFlag: false,
                //查询数据信息
                dataMessage: {
                    page: 1,
                    row: 5,
                    pages: 0
                }
            },
            mounted() {
                this.getDisinfecting();
            },
            methods: {
                //时间十进制
                shijinzhi(date) {
                    date = date >= 10 ? date : '0' + date; //判断传进来的参数是否小于十，小于则拼接一个0在前面
                    return date;
                },
                //年月日
                ymd(sjc) {
                    var date_ = new Date(sjc);
                    var year_ = date_.getFullYear(); //获取年份
                    var month_ = this.shijinzhi(date_.getMonth() + 1); //获取月份
                    var date = date_.getDate(); //获取日期
                    return year_ + '/' + month_ + '/' + date;
                },
                //时分秒
                hms(sjc) {
                    var date_ = new Date(sjc);
                    var hours_ = date_.getHours();
                    var min_ = this.shijinzhi(date_.getMinutes());
                    var ms = this.shijinzhi(date_.getSeconds());
                    var mm = '';
                    if (hours_ > 12) {
                        hours_ = this.shijinzhi(this.pm(hours_));
                        mm = 'PM';
                    } else {
                        hours_ = this.shijinzhi(hours_);
                        mm = 'AM';
                    }
                    return mm + ' ' + hours_ + ':' + min_ + ':' + ms;
                },
                //下午
                pm(num1) {
                    var arr = []; //声明一个数组用来存放下标13
                    var coust = 0;
                    for (var i = 13; i < 24; i++) {
                        coust++;
                        arr[i] = coust;
                    }
                    return num1 = arr[num1];
                },




                //添加信息表单验证
                checkAddInfo(){
                    if(this.userInfo.community != "" && this.userInfo.floor != "" && this.userInfo.disinfectTime != null && this.userInfo.disinfectResult != null && this.userInfo.disinfectStaff != "" && this.userInfo.disinfectWay != "")
                        return true;
                    return false;
                },
                //修改信息表单验证
                checkEditInfo(){
                    if(this.userInfo.id != null && this.userInfo.community != "" && this.userInfo.floor != "" && this.userInfo.disinfectTime != null && this.userInfo.disinfectResult != null && this.userInfo.disinfectStaff != "" && this.userInfo.disinfectWay != "")
                        return true;
                    return false;
                },
                //时间转换
                timeChange1(){//毫秒转时间
                    this.userInfo.disinfectTime = moment(this.userInfo.disinfectTime).format('YYYY-MM-DD');
                },
                timeChange2(){//时间转毫秒
                    this.userInfo.disinfectTime = (new Date(this.userInfo.disinfectTime)).getTime();
                },
                //获取消杀信息
                getDisinfecting() {
                    axios.get("find", {
                        params: {
                            type: this.selectType,
                            check: this.searchValue,
                            page: this.dataMessage.page
                        }
                    })
                        .then(res => {
                            this.dishinfectingList = res.data.data.list;
                            this.dishinfectingList1 = res.data.data.list.map(item=>{
                                return {
                                    id: item.id,
                                    community:item.community,
                                    floor:item.floor,
                                    disinfectTime:`${this.ymd(item.disinfectTime)}`,
                                    disinfectResult:item.disinfectResult,
                                    disinfectStaff:item.disinfectStaff,
                                    disinfectWay:item.disinfectWay
                                }
                            });
                            this.totalPage = res.data.data.pages;
                            this.dataMessage = {
                                page: res.data.data.pageNum,
                                row: res.data.data.pageSize,
                                pages: res.data.data.pages
                            }
                        })
                        .catch(err => {
                            console.log('错误' + err)
                        })
                },
                //按条件搜索
                search() {
                    this.getDisinfecting();
                },
                //打开对话框按钮
                handleDialog(mode, index) {
                    this.mode = mode;
                    if (this.mode == 0) {
                        this.dialogTag = "修改信息";
                        this.userInfo = {
                            id: this.dishinfectingList[index].id,
                            community: this.dishinfectingList[index].community,
                            floor: this.dishinfectingList[index].floor,
                            disinfectTime: this.dishinfectingList[index].disinfectTime,
                            disinfectResult: this.dishinfectingList[index].disinfectResult,
                            disinfectStaff: this.dishinfectingList[index].disinfectStaff,
                            disinfectWay: this.dishinfectingList[index].disinfectWay
                        }
                        this.timeChange1();
                    } else if (this.mode == 1) {
                        this.dialogTag = "添加信息";
                        this.userInfo = {
                            id: null,
                            community: "",
                            floor: "",
                            disinfectTime: null,
                            disinfectResult: null,
                            disinfectStaff: "",
                            disinfectWay: ""
                        }
                    }
                    //打开对话框
                    this.dialogFlag = true;
                    this.mengbanFlag = true;
                },
                //点击关闭对话框
                handleCloseDialog() {
                    this.dialogFlag = false;
                    this.mengbanFlag = false;
                },
                //确定修改
                handleEnterEdit() {
                    if (this.mode == 0) {
                        this.timeChange2();
                        if(this.checkEditInfo()){
                            axios.post("update", this.userInfo).then(res => {
                                if (res.data.code != 200) return alert("修改失败");
                                alert("修改成功");
                                this.dialogFlag = false;
                                this.mengbanFlag = false;
                                this.getDisinfecting();
                            }).catch(err => {
                                alert("修改失败" + err);
                                console.log('错误' + err);
                            })
                        }else{
                            alert("请正确填写信息");
                        }

                    } else if (this.mode == 1) {
                        if(this.checkAddInfo()){
                            this.timeChange2();
                            axios.post("save", this.userInfo).then(res => {
                                if (res.data.code != 200) return alert("添加失败");
                                alert("添加成功");
                                this.dialogFlag = false;
                                this.mengbanFlag = false;
                                this.getDisinfecting();
                            })
                                .catch(err => {
                                    alert("添加失败" + err);
                                    console.log('错误' + err);
                                })
                        }else{
                            alert("请正确填写信息");
                        }

                    }

                },
                //点击删除
                handleDelete(index) {
                    axios.delete(`delete/${this.dishinfectingList[index].id}`)
                        .then(res => {
                            if (res.data.code != 200) return alert("删除失败");
                            alert("删除成功");
                            this.getDisinfecting();
                        }).catch(err => {
                        console.log(err);
                        alert("删除失败");
                    })
                },
                //切换页码
                handleShift(pageMode) {
                    if (pageMode == 0) {
                        this.dataMessage.page--;
                        this.getDisinfecting();
                    } else if (pageMode == 1) {
                        this.dataMessage.page++;
                        this.getDisinfecting();
                    } else if (pageMode == 2) {
                        this.dataMessage.page = 1;
                        this.getDisinfecting();
                    } else if (pageMode == 3) {
                        this.dataMessage.page = this.dataMessage.pages;
                        this.getDisinfecting();
                    }
                }
            }
        })
    </script>

    <!-- END layout-wrapper -->
    <!-- ============================================================== -->
    <!-- end main content-->

</div>
<div th:replace="admin-index::admin-foot"></div>
</body>
</html>
