<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>垃圾分类类型管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesdesign" name="author">
    <div th:include="admin-index::admin-head"></div>

    <script type="text/javascript" th:src="@{/static/vue/vue.js}"></script>
    <script type="text/javascript" th:src="@{/static/jquery/jquery-3.6.0.min.js}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<style>

    html,body{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .tablebtn {
        outline: none;
        border: none;
        color: white;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 3px 10px;
    }
    .normal{
        background:#0f9cf3;
    }
    .normal:hover{
        background: #0b7fc2;
    }
    .warning{
        background: #ff0000;
    }
    .warning:hover{
        background: #ad0000;
    }
    .dialog{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        /*width: 60%;*/
        box-sizing: border-box;
        padding: 30px 50px;
        background: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        transition: all 0.3s ease-in-out;
    }
    .dialog-top{
        font-size: 24px;
        font-weight: bold;
        text-align: left;
    }
    .dialog input{
        border: none;
        outline: none;
        border-bottom: 1px solid darkgray;
        box-sizing: border-box;
        padding: 2px 5px;
        transition: all 0.3s ease-in-out;
    }
    .dialog input:focus{
        border-bottom: 1px solid black;
    }
    .mengban{
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(1,1,1,0.2);
        z-index: 99;
        transition: all 0.3s ease-in-out;
    }
    .dialog-control{
        width: 100%;
        box-sizing: border-box;
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .table-control{
        box-sizing: border-box;
        padding: 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .table-control button{
        margin: 0 10px;
    }

</style>
<body data-topbar="dark">

<div id="layout-wrapper">

    <div th:replace="admin-index::admin-header"></div>

    <!-- ========== Left Sidebar Start ========== -->
    <div th:replace="admin-index::admin-menu"></div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- Begin page -->
    <div class="main-content" id="app">

        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">垃圾分类信息一览</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">垃圾分类信息详情</h4>
                                <p class="card-title-desc"></p>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="input-group">
<!--                                            <div class="input-group-btn">-->
<!--                                                <select class="form-control" id="select_name" v-model="selectType">-->
<!--                                                    <option value="rubbishName">垃圾名称</option>-->
<!--                                                </select>-->
<!--                                            </div>-->
<!--                                            <input type="text" class="form-control" v-model="searchValue" placeholder="Search for...">-->
<!--                                            <button class="btn btn-primary" @click="search">搜索</button>-->
                                            <button class="btn btn-danger" style="margin-left: 20px" @click="handleDialog(1)">添加</button>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <table id="resident_table" class="table table-bordered table-nowrap mb-0 table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="text-center .col-md-">序号</th>
                                            <th scope="col" class="text-center .col-md-">
                                                垃圾名
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                分类名
                                            </th>
                                            <th scope="col" class="text-center .col-md-">
                                                操作
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(item,index) in rubbishList" :key="item.rubbishId">
                                            <td>{{index+1}}</td>
                                            <td>{{item.rubbishName}}</td>
                                            <td>{{item.classificationName}}</td>
                                            <td>
                                                <button class="tablebtn normal" @click="handleDialog(0,index)">编辑</button>
                                                <button class="tablebtn warning" @click="handleDelete(index)">删除</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="table-control">
                                    <div style="color: darkgray">
                                        共 {{dataMessage.pages}} 页
                                    </div>
                                    <div>
                                        <button class="tablebtn normal" @click="handleShift(2)" >首页</button>
                                        <button class="tablebtn normal" @click="handleShift(0)" :disabled="dataMessage.page -1 == 0 ? true : false">上一页</button>
                                        <button style="outline: none;border: none;color: black" disabled="disabled">{{dataMessage.page}}</button>
                                        <button class="tablebtn normal" @click="handleShift(1)" :disabled="dataMessage.page + 1 > dataMessage.pages ? true : false">下一页</button>
                                        <button class="tablebtn normal" @click="handleShift(3)" >尾页</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end col -->

                </div> <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <!--        对话框-->
        <!--        阴影蒙版-->
        <div class="mengban" v-show="mengbanFlag" @click="handleCloseDialog"></div>
        <div class="dialog" v-show="dialogFlag">
            <div class="dialog-top">
                {{dialogTag}}
            </div>
            <div class="dialog-content">
                <table>
                    <tr>
                        <td>垃圾名</td>
                        <td>
                            <input type="text" placeholder="垃圾名" v-model="userInfo.rubbishName">
                        </td>
                    </tr>
                    <tr>
                        <td>分类名</td>
                        <td>
                            <select class="form-control" name="class" v-model="userInfo.rubbishFyid">
                                <option v-for="(item) in classificationList" :key="item.classificationId" :value="item.classificationId">
                                    {{item.classificationName}}
                                </option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div class="dialog-control">
                    <button class="tablebtn normal" style="padding: 5px 20px" @click="handleEnterEdit">确  定</button>
                    <button class="tablebtn warning" style="padding: 5px 20px" @click="handleCloseDialog">取  消</button>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2022.Company name All rights reserved.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>


    <!-- 接收数据-->
    <script>
        //使用vue axios请求数据然后进行页面渲染
        var app = new Vue({
            el:"#app",
            data:{
                rubbishList:[],
                classificationList:[],
                selectType:"rubbishName",
                searchValue:"",
                dialogTag:"修改信息",
                mode:0,
                userInfo:{
                    rubbishId:null,
                    rubbishFyid:null,
                    rubbishName:"",
                    classificationName:"",
                },
                dialogFlag:false,   //对话框状态
                mengbanFlag:false,
                //查询数据信息
                dataMessage:{
                    page:1,
                    row:5,
                    pages:0
                }
            },
            mounted(){
                this.getRubbish();
                this.getClassification();
            },
            methods:{
                //获取分类名称
                getClassification(){
                    axios.get("findAllId",{params:{page:1,row:1000}})
                        .then(res => {
                            this.classificationList = res.data.data;
                            // console.log(this.classificationList);
                        })
                        .catch(err => {
                            console.log('错误' + err)
                        })
                },
                //添加信息表单验证
                checkAddInfo(){
                    if(this.userInfo.rubbishName != "" && this.userInfo.classificationName != "" && this.userInfo.rubbishFyid != null)
                        return true;
                    return false;
                },
                //修改信息表单验证
                checkEditInfo(){
                    if(this.userInfo.rubbishId != null && this.userInfo.rubbishName != "" && this.userInfo.rubbishFyid != null)
                        return true;
                    return false;
                },
                getRubbish(){
                    axios.get("find",{params:{type:this.selectType,check:this.searchValue,page:this.dataMessage.page}})
                        .then(res => {
                            this.rubbishList = res.data.data.list;
                            this.dataMessage={
                                page:res.data.data.pageNum,
                                row:res.data.data.pageSize,
                                pages:res.data.data.pages
                            }
                        })
                        .catch(err => {
                            console.log('错误' + err)
                        })
                },
                //按条件搜索
                search(){
                    this.getRubbish();
                },
                //打开对话框按钮
                handleDialog(mode,index){
                    this.mode = mode;
                    if(this.mode == 0){
                        this.dialogTag = "修改信息";
                        this.userInfo = {
                            rubbishId:this.rubbishList[index].rubbishId,
                            rubbishName:this.rubbishList[index].rubbishName,
                            rubbishFyid:this.rubbishList[index].classificationId
                        }
                    }else if(this.mode == 1) {
                        this.dialogTag = "添加信息";
                        this.userInfo = {
                            rubbish_name: "",
                            rubbishFyid: this.classificationList[0].classificationId,
                        }
                    }
                    //打开对话框
                    this.dialogFlag = true;
                    this.mengbanFlag = true;
                },
                //点击关闭对话框
                handleCloseDialog(){
                    this.dialogFlag = false;
                    this.mengbanFlag = false;
                },
                //确定修改
                handleEnterEdit(){
                    if(this.mode == 0){
                        if(this.checkEditInfo()){
                            console.log(this.userInfo);
                            axios.post("update",this.userInfo).then(res => {
                                // console.log(res.data);
                                if(res.data.code != 200) return alert("修改失败");
                                alert("修改成功");
                                this.dialogFlag = false;
                                this.mengbanFlag = false;
                                this.getRubbish();
                            }).catch(err => {
                                alert("修改失败"+err);
                                console.log('错误' + err);
                            })
                        }
                    }else if(this.mode == 1){
                        if(this.checkAddInfo()){
                            axios.post("save",this.userInfo).then(res => {
                                if(res.data.code != 200) return alert("添加失败");
                                alert("添加成功");
                                this.dialogFlag = false;
                                this.mengbanFlag = false;
                                this.getRubbish();
                            })
                                .catch(err => {
                                    alert("添加失败"+err);
                                    console.log('错误' + err);
                                })
                        }else{
                            alert("请输入正确信息");
                        }

                    }

                },
                //点击删除
                handleDelete(index){
                    axios.delete(`delete/${this.rubbishList[index].rubbishId}`)
                        .then(res=>{
                            if(res.data.code != 200) return alert("删除失败");
                            alert("删除成功");
                            this.getRubbish();
                        }).catch(err=>{
                        console.log(err);
                        alert("删除失败");
                    })
                },
                //切换页码
                handleShift(pageMode){
                    if(pageMode == 0){
                        this.dataMessage.page--;
                        this.getRubbish();
                    }else if(pageMode == 1){
                        this.dataMessage.page++;
                        this.getRubbish();
                    }else if(pageMode == 2){
                        this.dataMessage.page = 1;
                        this.getRubbish();
                    }else if(pageMode == 3){
                        this.dataMessage.page = this.dataMessage.pages;
                        this.getRubbish();
                    }
                }
            }
        })
    </script>

    <!-- END layout-wrapper -->
    <!-- ============================================================== -->
    <!-- end main content-->

</div>
<div th:replace="admin-index::admin-foot"></div>
</body>
</html>
