<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"/>

    <settings>
        <!-- 开启下划线映射驼峰命名 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 开启内嵌关联对象的懒加载(使用时再加载) -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 开启内嵌关联对象的轻度懒加载(只要外部对象的任一方法被调用, 就完全加载所有内嵌的关联对象) -->
        <setting name="aggressiveLazyLoading" value="true"/>
        <!-- 将null值映射为Jdbc类型的NULL, 而不是Other -->
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!-- 加载所有映射文件中配置的全局缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 设置对于枚举类型, 默认使用哪个类型处理器, 默认是EnumTypeHandler -->
        <!--<setting name="defaultEnumTypeHandler" value="com.xxx.xxx.MyEnumTypeHandler"/>-->
        <!-- 打印SQL语句到控制台 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--设置分页插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
    
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

</configuration>

