.tablebtn {
    outline: none;
    border: none;
    color: white;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 3px 10px;
}
.normal{
    background:#0f9cf3;
}
.normal:hover{
    background: #0b7fc2;
}
.warning{
    background: #ff0000;
}
.warning:hover{
    background: #ad0000;
}