<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.ssm.dao.ClassificationMapper">
  <resultMap id="BaseResultMap" type="com.sc.ssm.pojo.Classification">
    <id column="classification_id" jdbcType="INTEGER" property="classificationId" />
    <result column="classification_name" jdbcType="VARCHAR" property="classificationName" />
    <result column="classification_instructions" jdbcType="VARCHAR" property="classificationInstructions" />
    <result column="classification_dispose" jdbcType="VARCHAR" property="classificationDispose" />
    <result column="classification_details" jdbcType="VARCHAR" property="classificationDetails" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    classification_id, classification_name, classification_instructions, classification_dispose, 
    classification_details
  </sql>
  <select id="selectByExample" parameterType="com.sc.ssm.pojo.ClassificationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sc_classification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sc_classification
    where classification_id = #{classificationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sc_classification
    where classification_id = #{classificationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.ssm.pojo.ClassificationExample">
    delete from sc_classification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.ssm.pojo.Classification">
    <selectKey keyProperty="classificationId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sc_classification (classification_name, classification_instructions, 
      classification_dispose, classification_details
      )
    values (#{classificationName,jdbcType=VARCHAR}, #{classificationInstructions,jdbcType=VARCHAR}, 
      #{classificationDispose,jdbcType=VARCHAR}, #{classificationDetails,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sc.ssm.pojo.Classification">
    <selectKey keyProperty="classificationId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sc_classification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classificationName != null">
        classification_name,
      </if>
      <if test="classificationInstructions != null">
        classification_instructions,
      </if>
      <if test="classificationDispose != null">
        classification_dispose,
      </if>
      <if test="classificationDetails != null">
        classification_details,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classificationName != null">
        #{classificationName,jdbcType=VARCHAR},
      </if>
      <if test="classificationInstructions != null">
        #{classificationInstructions,jdbcType=VARCHAR},
      </if>
      <if test="classificationDispose != null">
        #{classificationDispose,jdbcType=VARCHAR},
      </if>
      <if test="classificationDetails != null">
        #{classificationDetails,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.ssm.pojo.ClassificationExample" resultType="java.lang.Long">
    select count(*) from sc_classification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
    <select id="getAll" resultType="com.sc.ssm.pojo.Classification">
      select * from sc_classification
    </select>
    <update id="updateByExampleSelective" parameterType="map">
    update sc_classification
    <set>
      <if test="record.classificationId != null">
        classification_id = #{record.classificationId,jdbcType=INTEGER},
      </if>
      <if test="record.classificationName != null">
        classification_name = #{record.classificationName,jdbcType=VARCHAR},
      </if>
      <if test="record.classificationInstructions != null">
        classification_instructions = #{record.classificationInstructions,jdbcType=VARCHAR},
      </if>
      <if test="record.classificationDispose != null">
        classification_dispose = #{record.classificationDispose,jdbcType=VARCHAR},
      </if>
      <if test="record.classificationDetails != null">
        classification_details = #{record.classificationDetails,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sc_classification
    set classification_id = #{record.classificationId,jdbcType=INTEGER},
      classification_name = #{record.classificationName,jdbcType=VARCHAR},
      classification_instructions = #{record.classificationInstructions,jdbcType=VARCHAR},
      classification_dispose = #{record.classificationDispose,jdbcType=VARCHAR},
      classification_details = #{record.classificationDetails,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.ssm.pojo.Classification">
    update sc_classification
    <set>
      <if test="classificationName != null">
        classification_name = #{classificationName,jdbcType=VARCHAR},
      </if>
      <if test="classificationInstructions != null">
        classification_instructions = #{classificationInstructions,jdbcType=VARCHAR},
      </if>
      <if test="classificationDispose != null">
        classification_dispose = #{classificationDispose,jdbcType=VARCHAR},
      </if>
      <if test="classificationDetails != null">
        classification_details = #{classificationDetails,jdbcType=VARCHAR},
      </if>
    </set>
    where classification_id = #{classificationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.ssm.pojo.Classification">
    update sc_classification
    set classification_name = #{classificationName,jdbcType=VARCHAR},
      classification_instructions = #{classificationInstructions,jdbcType=VARCHAR},
      classification_dispose = #{classificationDispose,jdbcType=VARCHAR},
      classification_details = #{classificationDetails,jdbcType=VARCHAR}
    where classification_id = #{classificationId,jdbcType=INTEGER}
  </update>
</mapper>